.page-changelog-container {
    display: block;
}

.page-changelog {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.page-changelog > div {
    overflow-y: auto;
}

.page-changelog .error-container .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.page-changelog .changelog-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-changelog .changelog-entry {
    background-color: var(--color-background);
    color: var(--color-on-background);
    border-radius: 0.5rem;
    padding: 1rem;
}

.page-changelog .changelog-entry:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
}

.page-changelog .changelog-entry .date {
    padding-block: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
}

.page-changelog .changelog-entry .message {
    padding: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
}

/* Optional: Style for highlighted/featured entries */
.page-changelog .changelog-entry.featured {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}